* { box-sizing: border-box; }

html,
body {
	margin: 0;
	padding: 0;
}

body {
	border-top: 2px solid #dd1043;
}

.container {
	max-width: 45rem;
	padding: 0 2em;
	margin: 0 auto;
}

/* Tables */
table {
	margin-bottom: 1rem;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;

	td, th {
		padding: .25rem .5rem;
  		border: 1px solid #e5e5e5;
	}

	tbody {
		tr:nth-child(odd) td,
		tr:nth-child(odd) th { background-color: #f9f9f9; }
	}
}

.masthead {
	border-bottom: 1px solid #eee;
	.masthead-title a {color: #505050;}

	h1 {
		margin: 0; 
		padding: 10px 0;
		font-size: 2rem;
	}
}