/* Code */
/* line 2, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/code */
code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace; }

/* line 6, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/code */
code {
  padding: 0.25em 0.5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* line 14, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/code */
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9; }
  /* line 27, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/code */
  pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent; }

/* line 35, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/code */
.highlight {
  margin-bottom: 1rem;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 39, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/code */
  .highlight pre {
    margin-bottom: 0; }

/* line 1, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.hll {
  background-color: #ffffcc; }

/*{ background: #f0f3f3; }*/
/* line 3, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.c {
  color: #999; }

/* Comment */
/* line 4, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.err {
  color: #AA0000;
  background-color: #FFAAAA; }

/* Error */
/* line 5, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.k {
  color: #006699; }

/* Keyword */
/* line 6, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.o {
  color: #555555; }

/* Operator */
/* line 7, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.cm {
  color: #0099FF;
  font-style: italic; }

/* Comment.Multiline */
/* line 8, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.cp {
  color: #009999; }

/* Comment.Preproc */
/* line 9, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.c1 {
  color: #999; }

/* Comment.Single */
/* line 10, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.cs {
  color: #999; }

/* Comment.Special */
/* line 11, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

/* Generic.Deleted */
/* line 12, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.ge {
  font-style: italic; }

/* Generic.Emph */
/* line 13, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.gr {
  color: #FF0000; }

/* Generic.Error */
/* line 14, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.gh {
  color: #003300; }

/* Generic.Heading */
/* line 15, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

/* Generic.Inserted */
/* line 16, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.go {
  color: #AAAAAA; }

/* Generic.Output */
/* line 17, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.gp {
  color: #000099; }

/* Generic.Prompt */

/* Generic.Strong */
/* line 19, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.gu {
  color: #003300; }

/* Generic.Subheading */
/* line 20, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.gt {
  color: #99CC66; }

/* Generic.Traceback */
/* line 21, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.kc {
  color: #006699; }

/* Keyword.Constant */
/* line 22, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.kd {
  color: #006699; }

/* Keyword.Declaration */
/* line 23, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.kn {
  color: #006699; }

/* Keyword.Namespace */
/* line 24, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.kp {
  color: #006699; }

/* Keyword.Pseudo */
/* line 25, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.kr {
  color: #006699; }

/* Keyword.Reserved */
/* line 26, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.kt {
  color: #007788; }

/* Keyword.Type */
/* line 27, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.m {
  color: #FF6600; }

/* Literal.Number */
/* line 28, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.s {
  color: #d44950; }

/* Literal.String */
/* line 29, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.na {
  color: #4f9fcf; }

/* Name.Attribute */
/* line 30, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.nb {
  color: #336666; }

/* Name.Builtin */
/* line 31, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.nc {
  color: #00AA88; }

/* Name.Class */
/* line 32, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.no {
  color: #336600; }

/* Name.Constant */
/* line 33, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.nd {
  color: #9999FF; }

/* Name.Decorator */
/* line 34, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.ni {
  color: #999999; }

/* Name.Entity */
/* line 35, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.ne {
  color: #CC0000; }

/* Name.Exception */
/* line 36, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.nf {
  color: #CC00FF; }

/* Name.Function */
/* line 37, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.nl {
  color: #9999FF; }

/* Name.Label */
/* line 38, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.nn {
  color: #00CCFF; }

/* Name.Namespace */
/* line 39, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.nt {
  color: #2f6f9f; }

/* Name.Tag */
/* line 40, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.nv {
  color: #003333; }

/* Name.Variable */
/* line 41, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.ow {
  color: #000000; }

/* Operator.Word */
/* line 42, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.w {
  color: #bbbbbb; }

/* Text.Whitespace */
/* line 43, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.mf {
  color: #FF6600; }

/* Literal.Number.Float */
/* line 44, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.mh {
  color: #FF6600; }

/* Literal.Number.Hex */
/* line 45, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.mi {
  color: #FF6600; }

/* Literal.Number.Integer */
/* line 46, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.mo {
  color: #FF6600; }

/* Literal.Number.Oct */
/* line 47, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.sb {
  color: #CC3300; }

/* Literal.String.Backtick */
/* line 48, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.sc {
  color: #CC3300; }

/* Literal.String.Char */
/* line 49, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.sd {
  color: #CC3300;
  font-style: italic; }

/* Literal.String.Doc */
/* line 50, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.s2 {
  color: #CC3300; }

/* Literal.String.Double */
/* line 51, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.se {
  color: #CC3300; }

/* Literal.String.Escape */
/* line 52, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.sh {
  color: #CC3300; }

/* Literal.String.Heredoc */
/* line 53, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.si {
  color: #AA0000; }

/* Literal.String.Interpol */
/* line 54, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.sx {
  color: #CC3300; }

/* Literal.String.Other */
/* line 55, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.sr {
  color: #33AAAA; }

/* Literal.String.Regex */
/* line 56, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.s1 {
  color: #CC3300; }

/* Literal.String.Single */
/* line 57, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.ss {
  color: #FFCC33; }

/* Literal.String.Symbol */
/* line 58, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.bp {
  color: #336666; }

/* Name.Builtin.Pseudo */
/* line 59, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.vc {
  color: #003333; }

/* Name.Variable.Class */
/* line 60, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.vg {
  color: #003333; }

/* Name.Variable.Global */
/* line 61, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.vi {
  color: #003333; }

/* Name.Variable.Instance */
/* line 62, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.il {
  color: #FF6600; }

/* Literal.Number.Integer.Long */
/* line 66, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/syntax */
.css .o, .css .o + .nt, .css .nt + .nt {
  color: #999; }

/* line 1, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/base */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/base */
html, body {
  margin: 0;
  padding: 0; }

/* line 9, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/base */
.container {
  max-width: 50rem;
  padding: 0 1em;
  margin: 0 auto; }

/* Tables */
/* line 16, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/base */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse; }
  /* line 22, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/base */
  table td, table th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5; }
  /* line 29, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/base */
  table tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9; }

/* line 1, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

@media (min-width: 38rem) {
  /* line 9, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
  html {
    font-size: 20px; } }

/* line 14, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
body {
  color: #515151;
  text-size-adjust: 100%;
  overflow-x: hidden; }

/* No `:visited` state is required by default (browsers will use `a`) */
/* line 21, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
a {
  color: #268bd2;
  text-decoration: none;
  /* `:focus` is linked to `:hover` for basic accessibility */ }
  /* line 26, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
  a:hover, a:focus {
    text-decoration: underline; }

/* Headings */
/* line 32, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -0.025rem; }

/* line 39, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
h1 {
  font-size: 2rem; }

/* line 41, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
h2 {
  margin-top: 1rem;
  font-size: 1.5rem; }

/* line 46, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem; }

/* line 51, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem; }

/* Body text */
/* line 57, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
p {
  margin-top: 0;
  margin-bottom: 1rem; }

/* line 62, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
strong {
  color: #303030; }

/* line 64, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase; }
  /* line 70, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
  abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5; }

/* Quotes */
/* line 79, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5; }
  /* line 85, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
  blockquote p:last-child {
    margin-bottom: 0; }

/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */
/* line 97, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/type */
.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9; }

/*
* Posts and pages
*
* Each post is wrapped in `.post` and is used on default and post layouts. Each
* page is wrapped in `.page` and is only used on the page layout.
*/
/* line 9, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
.page, .post {
  margin-bottom: 4em; }

/* Blog post or page title */
/* line 14, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
.page-title, .post-title, .post-title a {
  color: #303030; }

/* line 17, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
.page-title, .post-title {
  margin-top: 0; }

/* Meta data line below post title */
/* line 20, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
.post-date {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a; }

/* line 28, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
.post img {
  display: block;
  text-align: center;
  margin: 0 auto; }

/* Related posts */
/* line 36, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee; }

/* line 42, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
.related-posts {
  padding-left: 0;
  list-style: none; }
  /* line 46, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
  .related-posts h3 {
    margin-top: 0; }
  /* line 48, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
  .related-posts li small {
    font-size: 75%;
    color: #999; }
  /* line 53, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
  .related-posts li a:hover {
    color: #268bd2;
    text-decoration: none; }
    /* line 57, /Users/shawnstringfield/Sites/shawnstringfield.github.io.blog/public/scss/modules/posts */
    .related-posts li a:hover small {
      color: inherit; }




